$primaryColor: #77dd77;
$unitSize: 5px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

// commento scss
.container {
    height: 100vh;
    /* background-color: red; */
    padding: $unitSize * 8;
    display: flex; flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: $unitSize * 5;
    color: $primaryColor;
    margin-bottom: 10px;
}

button {
    padding: $unitSize * 2;
    background-color: $primaryColor;
    border-width: 0;
    border-radius: $unitSize;
}
